[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
/[Aa]ssets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp
*.dwlt
AssetImportState
/Assets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
.idea/
*.swp
*.bak
*.orig
*.rej
.DS_Store
DerivedData/
*.apk
*.unitypackage
*.bundle
mcp_config.json
args.json
task.md
